<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>NBA Stats Visualization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var urls = {
            "shooting_splits" : "{{ url_for('main.shooting_splits') }}",
            "player_stats" : "{{ url_for('main.player_stats') }}",
            "player_summary" : "{{ url_for('main.player_summary') }}",
        };
    </script>
</head>

<body>

<form class="searchbtn">
    <input type="text" placeholder="Search Player" name="player">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

<select id="statsselection">
    <option value="PTS">Points</option>
    <option value="REB">Rebounds</option>
    <option value="AST">Assists</option>
    <option value="STL">Steals</option>
    <option value="BLK">Blocks</option>
</select>

<div id="playerprofile">
    <h3>Player Profile</h3>
    <p class="profileentry"><strong>Name: </strong>
        default full name
    </p>
    <p class="profileentry"><strong>Birth&nbsp;date: </strong>
        default birth date
    </p>
    <p class="profileentry"><strong>Years&nbsp;played: </strong>
        default years played
    </p>
    <p class="profileentry"><strong>Position: </strong>
        default position
    </p>
    <p class="profileentry"><strong>Team: </strong>
        default team name
    </p>
</div>
<canvas id="line_chart" width="800" height="400"></canvas>
<canvas id="shooting_chart" width="800" height="400"></canvas>
<script src="static/js/playerchart.js"></script>
</body>
</html>